ansible
ansible.pub
mkinventory
inventory.yml
cloudinit.yml
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.lock.hcl
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
operators.json
server.jar
users.json
