[Unit]
Description=Minecraft Server
Documentation=https://minecraft.net
After=network.target

[Service]
User={{ MINECRAFT_USER }}
WorkingDirectory={{ INSTALL_ROOT }}
ExecStart=/usr/bin/java -jar {{ INSTALL_ROOT }}/server.jar nogui

[Install]
WantedBy=multi-user.target
