[
  {
    "uuid": "{{ ansible_host }}",
    "name": "{{ ansible_host }} minecraft server",
    "motd": "Welcome to the Minecraft Server on {{ ansible_host }}!"
    "level": 4,
    "bypassesPlayerLimit": false
  }
]